<div class="footer">
  <div class="container">
    <div class="logo">
      <img src="images/home/4.png">
    </div>
    <div class="row content">
      <div class="col-md-4">
        <div class="title">产品</div>
        <div class="menu-name">使用教程</div>
        <div class="menu-name">快速入门</div>

      </div>
      <div class="col-md-4">
        <div class="title">关于</div>
        <div class="contracts">
          <div class="contract-title">
            联系我们
          </div>
          <div class="contract-phones">
            <p>17367055558</p>
            <p>18657178895</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="title">关注我们</div>
        <div class="code">
          <img src="images/home/8.png">
        </div>
      </div>
    </div>

    <div class="row copyright" >
      <span>Copyright 杭州蜜蜡科技有限公司 浙ICP备18048163号</span>
      <span>地址：杭州市文一西路1338号海创大厦</span>
    </div>
  </div>


</div>

<%  scripts.forEach(function (js) {  %>
<script defer="defer" src="<%= js %>"></script>
<%  })  %>

<%  if (local.scripts) {
      local.scripts.forEach(function(js){  %>
<script defer="defer" src="<%= js %>"></script>
<%  })
  }
%>



</body>
</html>
