<div class="helper">
  <ul>
    <li onclick="showModal(1)">
      <img src="images/home/16.png">
      <div class="title">免费试用</div>
    </li>
    <li onclick="showModal(2)">
      <img src="images/home/6.png">
      <div class="title">代理加盟</div>
    </li>
    <!-- <li>
      <img src="images/home/27.png">
      <div class="title">在线咨询</div>
    </li> -->
    <li>
      <img src="images/home/10.png">
      <div class="title">关注微信</div>

      <div class="chat-code">
        <img src="images/home/8.png">
      </div>
    </li>
    <li>
      <img src="images/home/15.png">
      <div class="title">联系我们</div>

      <div class="contrat-us">
        <div class="title">小蜜机器人</div>
        <p>17367055558</p>
        <p>18657178895</p>
      </div>
    </li>
  </ul>
</div>
