<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          <div>
            <img src="images/home/4.png" class="site-logo" alt="logo">
          </div>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= nav.name === 'index' ? 'active' : '' %>">
            <a href="./index.html">
              <div class="nav_title">
                <p>首页</p>
              </div>
            </a>
          </li>
          <li class="<%= nav.name === 'product' ? 'active' : '' %>">
            <a href="./product.html">
              <div class="nav_title">
                <p>产品介绍</p>
              </div>
            </a>
          </li>
          <li onclick="showModal(1)">
            <a href="#apply">
              <div class="nav_title">
                <p>申请试用</p>
              </div>
            </a>
          </li>
          <li onclick="showModal(2)">
            <a href="#join">
              <div class="nav_title">
                <p>机器人加盟</p>
              </div>
            </a>
          </li>
          <li class="<%= nav.name === 'digit' ? 'active' : '' %>">
            <a href="#robot">
              <div class="nav_title">
                <p>AI机器人</p>
              </div>
            </a>
          </li>
          <li class="<%= nav.name === 'news' ? 'active' : '' %>">
            <a href="#trial">
              <div class="nav_title">
                <p>免费体验</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
