html,
body {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding-top: @header-height;
}

p {
  margin: 0 0;
}

.navbar {
  min-height: @header-height;
  margin-bottom: 0;
  background-color: #09112b;
  box-sizing: border-box;
  border-bottom: solid 2px #20bbbe;
  .navbar-header {
    .navbar-brand {
      height: @header-height;
      line-height: @header-height;
      padding: 0;
      .site-logo {
        max-height: 50px;
      }
    }
    .navbar-toggle {
      margin-top: 30px;
    }
  }
  .navbar-collapse {
    float: right;
    .navbar-nav {
      position: relative;
      li {
        a {
          height: @header-height;
          box-sizing: border-box;
          padding: 0 12px;

          .nav_title {
            padding: 36px 3px;
            text-align: center;
            p {
              font-family: "Regular";
              font-size: 18px;
              color: #ffffff;
            }
          }
        }

        &.active,
        &:hover {
          border-bottom: solid 2px #bf885e;

          a {
            background: transparent;

            .nav_title {
              p {
                color: #bf885e;
              }
            }
          }
        }
      }
    }
  }
}

.my-modal {
  .modal-header {
    background: linear-gradient(right, #3bf3f2, #2e88f8);
    height: 65px;

    .header-tabs {
      list-style: none;
      padding: 0;
      li {
        float: left;
        width: 50%;
        text-align: center;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
        box-sizing: border-box;
        cursor: pointer;

        &.active {
          border-bottom: solid 2px #ffa700;
        }
      }
    }
  }

  .form {
    padding: 30px;

    .field {
      border-bottom: solid 1px #cacaca;
      margin-bottom: 20px;
      position: relative;
      input {
        appearance: none;
        border: none;
        padding: 10px 0;
        width: 100%;
        outline: none;
        font-size: 16px;
        &:hover,
        &:focus {
          appearance: none;
          border: none;
        }
      }

      &.sms {
        padding-right: 150px;

        .sms-btn {
          position: absolute;
          right: 10px;
          top: 5px;
          width: 140px;
          height: 35px;
          border: solid 1px #2e8af8;
          border-radius: 20px;
          color: #2e8af8;
          line-height: 35px;
          font-size: 16px;
          text-align: center;
        }
      }
    }

    .submit-btn {
      width: 250px;
      height: 40px;
      background: #2e8af8;
      font-size: 16px;
      text-align: center;
      line-height: 40px;
      border-radius: 20px;
      color: #fff;
      margin: 10px auto;
      cursor: pointer;
    }
  }
}

.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}

.helper {
  position: fixed;
  right: 0;
  top: 200px;
  width: 90px;
  background-color: #18235a;
  color: #fff;

  ul {
    list-style: none;
    padding: 0;
    li {
      text-align: center;
      padding: 15px;
      cursor: pointer;
      position: relative;
      img {
        width: 33px;
        height: 33px;
      }
      .title {
        margin-top: 10px;
      }
      .chat-code {
        width: 180px;
        height: 180px;
        padding: 15px;
        position: absolute;
        right: -200px;
        top: -50px;
        transition-duration: 300ms;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: -2px 0px 5px 2px #ddd;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .contrat-us {
        width: 180px;
        padding: 15px;
        position: absolute;
        right: -200px;
        top: -15px;
        transition-duration: 300ms;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: -2px 0px 5px 2px #ddd;
        color: #333333;
        line-height: 20px;
        text-align: left;
        .title{
          font-weight: bold;
          font-size: 16px;
          line-height: 26px;
          margin: 10px 0; 
        }
      }

      &:hover {
        background-color: #18235a;
        .chat-code, .contrat-us {
          right: 90px;
        }
      }
    }
  }
}
