.wrapper {
  .section {
    text-align: center;
    background-color: #fff;

    &.banner {
      background-color: #0d123c;
      padding-bottom: 90px;
      color: #fff;
      .text {
        padding-top: 150px;
        padding-left: 20px;
        text-align: left;
        .title {
          font-size: 42px;
          font-weight: bold;
          margin-bottom: 30px;
        }

        .subtitle {
          font-size: 28px;
        }

        .functions {
          list-style: none;
          display: block;
          margin-top: 70px;
          padding: 0;
          li {
            display: inline-block;
            text-align: left;
            width: 20%;
            font-size: 16px;
          }
        }

        .trial {
          display: inline-block;
          width: 350px;
          height: 50px;
          line-height: 50px;
          border-radius: 25px;
          text-align: center;
          font-size: 18px;
          background-color: #6a19e1;
          cursor: pointer;
          margin-top: 20px;
        }
      }

      .image {
        padding-top: 130px;
        .image-circle {
          position: relative;
          width: 360px;
          height: 360px;
          margin: 0 auto;
          .inner {
            position: absolute;
            width: 270px;
            height: 270px;
            left: 45px;
            top: 45px;
          }
          .outer {
            position: absolute;
            width: 360px;
            height: 360px;
            left: 0;
          }
          .background {
            position: absolute;
            width: 290px;
            left: 25px;
            top: 120px;
          }
        }
      }
    }

    &.function {
      .functions {
        list-style: none;
        display: block;
        &-item {
          float: left;
          width: 20%;
          margin: 30px 0;
          text-align: left;
          padding-right: 40px;

          .title {
            font-size: 20px;
            color: #ff9000;
            line-height: 36px;
          }
          .desc {
            color: #666666;
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }

    &.voice {
      background-color: #f1f1f2;
      padding-bottom: 30px;
      padding-top: 40px;
      .title {
        font-size: 36px;
        margin: 30px;
      }

      .voices {
        .voices-item {
          position: relative;
          margin-bottom: 20px;
          cursor: pointer;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #f1a612;
            opacity: 0.7;
            display: none;
          }
          &:hover::after {
            display: block;
          }
          img {
            width: 100%;
          }
          .name {
            position: absolute;
            top: 50%;
            left: 50%;
            color: #fff;
            font-size: 20px;
            margin-left: -35px;
            font-weight: bold;
          }
        }
      }
    }

    &.product {
      .title {
        font-size: 26px;
        margin-top: 80px;
      }

      .subtitle {
        color: #858586;
        font-size: 18px;
        margin-bottom: 80px;
        margin-top: 10px;
      }

      .products {
        list-style: none;
        .item {
          float: left;
          margin-bottom: 50px;
          padding: 0 15px;
          box-sizing: border-box;
          width: 20%;
          img {
            width: 70px;
            height: 70px;
          }

          .name {
            font-size: 16px;
            font-weight: bold;
            margin: 10px;
          }
          .desc {
            color: #858586;
          }
        }
      }
    }

    &.solution {
      .title {
        font-size: 26px;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #f1f1f2;
      }

      .solutions {
        .item {
          width: 12.5%;
          float: left;
          padding-top: 100px;
          padding-bottom: 70px;
          background: linear-gradient(top, #3bf3f2, #2e88f8);
          vertical-align: text-top;
          height: 250px;
          color: #fff;
          .type {
            font-size: 18px;
            margin-bottom: 10px;
          }

          .item-name {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      .trial {
        background-color: #f1f1f2;
        padding: 70px;
        text-align: center;
        .trial-btn {
          display: inline-block;
          width: 300px;
          height: 50px;
          line-height: 50px;
          font-size: 18px;
          text-align: center;
          background-color: #6a19e1;
          color: #fff;
          border-radius: 25px;
          cursor: pointer;
        }
      }
    }

    &.service {
      margin-bottom: 150px;
      .title {
        font-size: 26px;
        margin-top: 80px;
      }

      .subtitle {
        color: #858586;
        font-size: 18px;
        margin-bottom: 80px;
        margin-top: 10px;
      }
    }
  }
}

.animated {
  &.second-1 {
    animation-delay: 0.5s;
  }
  &.second-2 {
    animation-delay: 1s;
  }
  &.second-3 {
    animation-delay: 1.5s;
  }
  &.second-4 {
    animation-delay: 2s;
  }
  &.second-5 {
    animation-delay: 2.5s;
  }
  &.second-6{
    animation-delay: 3s;
  }

  &.loop{
    animation-iteration-count: infinite;
  }
}

.animated-circle {
  transform-origin: 50% 50%;
  animation: circle 10s normal infinite linear;
}

.animated-circle.anti {
  animation: circle-anti 10s normal infinite linear;
}


@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle-anti {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}


.modal-content {
  margin-top: 30%;
}

